.markdown {
  font-weight: lighter;
  overflow-wrap: break-word;
}

.markdown h1 {
  @apply my-4 text-3xl font-medium;
}

.markdown h2 {
  @apply mt-3 mb-1 text-2xl font-medium;
}

.markdown h3 {
  @apply mt-3 text-xl;
}

.markdown h4 {
  @apply text-lg;
}

.markdown p {
  @apply my-2 mb-6;
}

.markdown strong {
  @apply font-medium;
}

.markdown a {
  @apply text-primary hover:underline;
}

.markdown code {
  @apply rounded-sm bg-gray-200 px-1;
}

.markdown pre {
  @apply rounded-md bg-gray-100 p-4;
}

.markdown img {
  @apply my-4 mx-auto;
}

.markdown ul {
  @apply marker:text-primary;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1rem;
  padding-right: 1rem;
}
